.fondo {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.opacity2 {
  background-color: rgba(33, 37, 41, 0.7);
}

.opacity {
  transition: 0.3s;
}

.opacity:hover {
  opacity: .5;
}